@charset "utf-8";
/* CSS Document */

/*親ページ*/



.job{
	padding:0px 120px;
	width:720px;
	
	overflow:hidden;
	padding-bottom:50px;
	
}

.jobtop{
	width:720px;
	height:240px;
	margin:50px 0px 40px 0px;
	}

.kensaku{
	width:718px;
	overflow:hidden;
	background:#69F;
	padding:40px 1px 0px 1px;
	margin-bottom:50px;
}

.kensaku1{
	height:64px;
	width:678px;
	background-color:#FFFFFF;
	border-bottom:solid 1px #C7DF95;
	padding:15px 20px 10px 20px;
	font-size:16px;
}

.kensaku1 img{
	margin-bottom:10px;
	margin-right:575px;
}

.kensaku2{
	height:34px;
	width:678px;
	background-color:#FFFFFF;
	border-bottom:solid 1px #C7DF95;
	padding:27px 20px 28px 20px;
}

.kensaku2 a{
	text-decoration:underline;
	color:#000000;
	font-size:16px;
	vertical-align:super;
}

.kensaku2 img{
	margin-right:20px;
}

.area{
	
}

.retsu{
	width:720px;
	height:160px;
	margin-bottom:30px;
}

.kigyou-l{
	width:320px;
	height:160px;
	background-color:#C7DF95;
	float:left;
	margin-right:80px;
	
}

.kigyou-r{
	width:320px;
	height:160px;
	background-color:#C7DF95;
	float:left;
}

.greenbar{
	width:320px;
	height:30px;
}

.kigyouname{
	width:200px;
	height:30px;
	margin-left:20px;
	background-color:#C7DF95;
	font-size:16px;
	float:left;
}

.kensakuword{
	width:100px;
	background-color:#C7DF95;
	float:left;
	padding:5px 0px 6px 0px;
	height:19px;
	}

.kensakuword img{
	float:left;
	margin-right:8px;
}

.sigoto{
	margin:0px 1px 1px 1px;
	width:318px;
	height:129px;
	background-color:#FFFFFF;
	
}

.tphoto{
	width:128px;
	height:96px;
	padding:17px 9px;
	float:left;	
}

.naiyou{
	width:172px;
	height:112px;
	float:left;
	margin-top:17px;	
}

.syokusyu{
	width:172px;
	height:20px;
	font-weight:900;
	font-size:12px;
}

.joken{
	height:34px;
	width:172px;
}

.joken{
	height:34px;
	width:172px;
}

.joken img{
	float:left;
	margin:6px 2px 6px 0px;
}

.joken p{
	font-size:10px;
	line-height:1.5em;
}

.syosaie{
	height:19px;
	width:64px;
	margin-bottom:5px;
	padding-left:109px;
}

/*子ページ*/

.job-left{
	width:600px;
	height:1600px;
	padding:60px 0px 60px 40px;
	float:left;
	background-color:#FAF8CB;
	overflow:hidden;
}

.job-right{
	padding:60px 39px 60px 39px;
	width:240px;
	height:1600px;
	background-color:#FAF8CB;
	overflow:hidden;
	float:left;
}

.line-bold{
	font-size:24px;
	border-bottom:solid 8px #C7DF95;
	width:540px;
	clear:both;
}

/*子ページ左*/
.tenponame{
	background-color:#C7DF95;
	font-size:16px;
	padding:0.5em;
	border-radius:10px 10px 0px 0px;        /* CSS3草案 */  
    -webkit-border-top-left-radius: 10px;  
    -webkit-border-top-right-radius: 10px;      /* Safari,Google Chrome用 */  
    -moz-border-radius-topleft: 10px;  
    -moz-border-radius-topright: 10px;   /* Firefox用 */
}

.kihon{
	width:538px;
	padding:0px 30px 60px 30px;
	overflow:hidden;
	background-color:#FFFFFF;
	border:solid 1px #C7DF95;
	border-radius:0px 0px 10px 10px;        /* CSS3草案 */  
    -webkit-border-bottom-right-radius: 10px;  
    -webkit-border-bottom-left-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius-bottomright: 10px;  
    -moz-border-radius-bottomleft: 10px;  /* Firefox用 */
}

.shashin{
	width:270px;
	float:left;
	height:300px;
	margin-bottom:15px;
}

.kihon2{
	padding:20px 0px 0px 13px;
	width:255px;
	float:left;
	height:280px;
	margin-bottom:15px;
}

.data{
	width:255px;
	border-top:solid 1px #333333;
	padding-top:5px;
	margin-top:10px;
}

.data img{
	margin-right:5px;
}

.data2{
	width:255px;
	overflow:hidden;
	margin-bottom:12px;
	margin-top:12px;
	font-size:15px;
}

.data2 img{
	float:left;
	margin-right:15px;
}

.data2 p{
	padding-top:3px;
}

.syosai{
	margin:15px 0px 30px 0px;
	width:540px;
	background-color:#FFFFFF;
	border:solid 1px #C7DF95;
	overflow:hidden;
	border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */
	clear:both;
}

table{
	border-collapse: collapse;
	}
td{
	padding:0.5em;
}

.td-l{
	background-color:#C7DF95;
	border-bottom:solid 1px #000000;
	font-size:14px;
}

.td-lf{
	background-color:#C7DF95;
	font-size:14px;
}

.td-r{
	border-bottom:solid 1px #000000;
	font-size:14px;
}

.td-rf{
	font-size:14px;
}


.hito{
	width:240px;
	border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */
	float:left;
	margin-right:10px;
	margin-top:20px;
}

.koe{
	width:220px;
	padding:3px 3px 3px 47px;
	height:214px;
	float:left;
	margin-top:25px;
	background-image:url(../image/job/job-item/fukidashi.png);
	font-size:12px;
}



/*子ページ右*/

.ruiji{
	width:240px;
	background-color:#FFFFFF;
	border:solid 1px #C7DF95;
	height:160px;
	margin-top:15px;
	font-size:12px;
}

.ruiji img{
	float:left;
	margin-left:15px;
}

.ruiji-uni{
	width:240px;
	background-color:#FFFFFF;
	border:solid 1px #C7DF95;
	height:120px;
	margin-top:15px;
	font-size:12px;
}

.ruijitenpo{
	background-color:#C7DF95;
	width:225px;
	font-size:14px;
	text-align:left;
	padding-left:15px;
	margin-bottom:15px;
}

/*スライド*/

.wrap {
	width:270px;
}
.wrap p {
	height:180px;
	padding:20px 0px 10px 0px;
}
.wrap ul {
	display:block;
	overflow:hidden;
}
.wrap li {
	display:block;
	float:left;
	background:#fff;
}
.wrap li img {
	cursor:pointer;
	margin-right:10px;
}
