@charset "utf-8";
/* CSS Document */

.hako{
	width:200px;
	height:300px;
	margin-left:60px;
	margin-right:12px;
	margin-bottom:20px;
	float:left;
	/*background-image:url(../image/365/365-item/waku.jpg);*/
	}
	
.hako2{
	width:200px;
	height:300px;
	margin-right:12px;
	margin-bottom:20px;
	float:left;
	/*background-image:url(../image/365/365-item/waku.jpg);*/
	}
	
.today-s{
	width:200px;
	height:300px;
	margin-right:10px;
	margin-bottom:20px;
	float:left;
	/*background-image:url(../image/365/365-item/waku-s1.jpg);*/
	}
	
.number{
	height:60px;
	width:60px;
	margin-bottom:100px;
	margin-left:25px;
	}

.hito{
	height:270px;
	width:180px;
	margin:15px 10px 0px 10px;
}

.retsu{
	width:920px;
	}
	
	
.order{
	 position:relative;
	 margin-top:245px;
	 margin-left:60px;
}
